{% extends "base.html" %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                        src="https://cdn-images-nftiers.s3.amazonaws.com/NFTier_Banner.png" alt="Test Image">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <a class="no-underline" href="">
                        <div class="card-footer background-blue text-center">
                            <b class="text-muted">See more</b>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                        src="https://cdn-images-nftiers.s3.amazonaws.com/NFTier_Banner.png" alt="Test Image">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <a class="no-underline" href="">
                        <div class="card-footer background-blue text-center">
                            <b class="text-muted">See more</b>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}